html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    margin: 0 auto;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
}

.logo {
    width: 127px;
    height: 34px;
    margin-left: 2px;
}

.user-avatar {
    border-radius: 50%;
    width: 35px;
    margin-right: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #c6c6c6;
    margin: 4px 0;
    margin-bottom: 30px; 
    padding: 8px 0; 
}

h2 {
    font-weight: bold;
    font-size: 15px;
}

h3 {
    font-weight: 100;
    font-size: 13px;
}

h2,
h3 {
    margin: 5px 10px;
}

.avatar {
    border-radius: 50%;
    width: 35px;
}

.avatar-location {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.post {
    width: 375px;
    height: 375px;
}

.react-icons {
   margin: 7px 10px;
}

.heart-icon,
.comment-icon,
.dm-icon {
    width: 25px;
    margin: 0 3px;
    background: #fff;
}

.heart-icon:hover,
.comment-icon:hover,
.dm-icon:hover {
    width: 30px;
    border-radius: 50%;
    background: rgba(200, 0, 0, 0.1);
}


.likes {
    font-weight: bold;
    margin: 0 12px;
}

.caption {
    margin: 6px 12px;
}

span {
    font-weight: bold;
}

.verified {
    width: 19px;
    margin: 0 1px 15px -9px;
}

.dark-mode {
    background: #222;
    color: #fff;
}